- content_for :title
  title = "Edit Question - #{@question.topic.name}"
.container#questionEditor
  = render('breadcrumbs', topic: @question.topic, current: 'Edit Question')
  h1 Edit Question
  = render('question_edit_form')
  section.mt-5#question-statistics aria-labelledby='statistics-heading'
    h2#statistics-heading Statistics
    dl.row
      dt.col-sm-3 Times asked
      dd.col-sm-9 = times_asked(@question)
      dt.col-sm-3 Percent correct
      dd.col-sm-9 = percentage_correct(@question)
      dt.col-sm-3 Flags
      dd.col-sm-9 = @question.flagged_questions.size
    - if @question.flagged_questions.any?
      = button_to 'Reset Question Flags',
        question_flag_reset_path(@question),
        class: 'btn btn-outline-secondary',
        form: { data: { turbo: true } }
  section.mt-5.mb-5 aria-labelledby='danger-zone-heading'
    h2#danger-zone-heading Danger Zone
    = button_to 'Delete Question',
      question_path(@question),
      method: :delete,
      class: 'btn btn-danger',
      form: { data: { turbo: true, turbo_confirm: 'Delete this question? Pupils will no longer be asked it.' } }
