= simple_form_for @lesson do |f|
  = f.input :title,
    input_html: { class: 'col-sm-9 form-control' },
    label_html: { class: 'col-sm-3 col-form-label' },
    wrapper_html: { class: 'row mb-3' }
  = f.input :video_link, label: 'URL:',
    input_html: { class: 'col-sm-9 form-control' },
    label_html: { class: 'col-sm-3 col-form-label' },
    wrapper_html: { class: 'row mb-3' }
  = f.association :topic, collection: @topics, include_blank: false,
    label_method: ->(topic) { topic.active? ? topic.name : "#{topic.name} (inactive)" },
    disabled: @lesson.topic_locked?,
    hint: ("The topic can't change while the lesson has questions." if @lesson.topic_locked?),
    input_html: { class: 'col-sm-9 form-control' },
    label_html: { class: 'col-sm-3 col-form-label' },
    wrapper_html: { class: 'row mb-3' }
  = f.button :submit, class: 'btn w-100 btn-primary'
