- content_for :title
  title = "Edit Lesson - #{@lesson.topic.name}"
.container
  = render 'breadcrumbs', subject: @lesson.subject, topic: @lesson.topic, current: 'Edit Lesson'
  h1 Edit Lesson
  = render 'form', cancel_path: lessons_path(open: @lesson.topic_id)
