- content_for :title
  title = "New Lesson - #{@lesson.subject.name}"
.container
  = render 'breadcrumbs', subject: @lesson.subject, current: 'New Lesson'
  h1 New Lesson
  = render 'form', cancel_path: lessons_path(anchor: dom_id(@lesson.subject))
