- content_for :title
  title = "New Question - #{@topic.name}"
.container#questionEditor
  = render('questions/breadcrumbs', topic: @topic, current: 'New Question')
  h1 New Question
  = render('questions/question_edit_form')
